<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active purple">
        <i class="ion-edit"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
            <h1 class="new-article-h1">Sondeos</h1>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <button class="new-sondeo" data-toggle="modal" data-target=".new-sondeo-action">
            </button>
        </div>
        <!-- Sondeo Item-->
        <div ng-repeat="sondeo in sondeos | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize" class="col-md-4">
            <div class="sondeo-4">
              <div class="header">
              <h1>{{sondeo.titulo}} | <span>{{sondeo.fecha | date:'dd/MM/yyyy'}}</span><a data-toggle="modal" ng-click="valor(sondeo.idSondeo)" data-target=".delete-sondeo"><i cl class="ion-trash-a"></i></a>
  </h1>
                <div class="img" style="background-image:url(../{{sondeo.foto}});"></div>
              </div>
              <div class="cuerpo" data-toggle="modal" data-target=".edit-sondeo-{{sondeo.idSondeo}}">
                <h4>
                  {{sondeo.pregunta}}
                </h4>
                <div ng-repeat="respuesta in sondeo.respuestas" class="div-respuesta">
                  <div class="text">{{respuesta.respuesta}}<span>{{(respuesta.total*100)/sondeo.total | number:2}}% | {{respuesta.total}} votos</span>
                  </div>
                  <div style="width:{{(respuesta.total*100)/sondeo.total | number:2}}%;" class="color">
                  </div>
                </div>
              </div>
            </div>

            <!-- modal | Sondeo editar -->
            <div class="modal fade edit-sondeo-{{sondeo.idSondeo}} sondeo-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-xs">
                <div class="modal-content-sondeo">
                    <form class="text-center" name="insertForm" ng-submit="insert(user.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">Editar sondeo</h4>
                          </div>
                        <div>
                            <center>
                              <style>
                              .oldSondeo-{{sondeo.idSondeo}}{
                                background-image: url(../{{sondeo.foto}}) !important;
                                background-size: cover !important;
                                background-position: center;
                                background-repeat: no-repeat;
                              }
                              </style>
                               <div ng-class="{'upload-input img-client': editFoto ,'upload-input oldSondeo-{{sondeo.idSondeo}}': !editFoto}" style="background-image: url({{editFoto}}); cursor:normal;">
                                 <input fileread="fotito" type="file" ngf-select="editUploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file" disabled>
                                    <h4 style="font-size:12px !important;" class="aviso-img">Por favor recordar que la imagen nada más puede estar en formato <b>png, jpg</b> ó <b>gif</b>.</h4>
                                    </div>
                                </div>
                                <center>
                                  <div class="modal-container">
                                    <textarea placeholder="¿Cúal es tu pregunta?" class="pregunta-sondeo" disabled>{{sondeo.pregunta}}</textarea>
                                    <i class="radio"></i><input ng-model="nuevaRespuesta" placeholder="Opciones" class="options" type="text"><a data-dismiss="modal" aria-label="Close" ng-click="addOpcion(sondeo.idSondeo,nuevaRespuesta);" class="more"><i class="ion-android-add-circle"></i></a>
                                    <div style="margin-bottom:10px;" class="divisor"></div>
                                    <div ng-repeat="respuesta in sondeo.respuestas" class="div-respuesta">
                                      <i style="margin-top:10px;" class="radio"></i><input style="margin-top:0px;margin-bottom:-8px;background-color:transparent;" ng-model="respuesta.respuesta" class="options" type="text" disabled>
                                      <a data-dismiss="modal" aria-label="Close" ng-click="delOpcion(respuesta.idRespuesta);" class="sondeo-delete"><i class="ion-trash-a"></i></a></h4>
                                    </div>
                                    <div style="text-align:right; margin-top:35px;">
                                      <button class="pub-boton">Publicar</button>
                                    </div>
                                  </div>
                                </center>
                            </center>
                        </div>
                    </form>
              </div>
              </div>
            </div>
            <!-- modal | Sondeo editar -->

        </div>
        <!-- Sondeo Item-->
      <uib-pagination total-items="sondeos.length" ng-model="currentPage" items-per-page="pageSize" previous-text="Anterior" next-text="Siguiente" max-size="maxSize" boundary-link-numbers="true" class="tab-subseccion"></uib-pagination>  
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
<!-- modal | Sondeo nuevo -->
<div class="modal fade new-sondeo-action sondeo-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-xs">
    <div class="modal-content-sondeo" style="padding-bottom:65px;">
        <form class="text-center" name="insertForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Nuevo sondeo</h4>
              </div>
            <div>
                <center>
                  <input ng-model="titulo" placeholder="Título" class="input-modal" type="text">
                   <div ng-class="{'upload-input img-client': fotito ,'upload-input no-client': !fotito}" style="background-image: url({{fotito}});">
                     <input fileread="fotito" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                             accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                             <span ng-show="f.progress >= 0">
                                 <div style="width:{{f.progress}}%;"
                                      ng-bind="f.progress + '%'"></div>
                             </span>
                        <div style="float:left; text-align:left; margin-top:-5px !important;">
                          <h4 style="font-size:12px !important;" class="aviso-img">Por favor recordar que la imagen nada más puede estar en formato <b>png, jpg</b> ó <b>gif</b>.</h4></div>
                    </div>
                    <div class="modal-container">
                      <textarea placeholder="¿Cúal es tu pregunta?" class="pregunta-sondeo" ng-model="pregunta"></textarea>
                      <i class="radio"></i><input ng-model="opcion1" placeholder="Opciones" class="options" type="text">
                      <i class="radio"></i><input ng-model="opcion2" placeholder="Opciones" class="options" type="text">

                      <!-- <div class="divisor"></div>
                      <div class="opciones">
                        <h4>Si estoy de acuerdo<a class="delete"><i class="ion-trash-a"></i></a></h4>
                      </div>
                      <div class="opciones">
                        <h4>No estoy de acuerdo<a class="delete"><i class="ion-trash-a"></i></a></h4>
                      </div> -->
                      <div style="text-align:right; margin-top:10px;">
                        <button ng-click="postSondeo(titulo,filenamesave,pregunta,opcion1,opcion2)" style="float:right" class="pub-boton" data-dismiss="modal">Publicar</button>
                      </div>
                    </div>
                </center>
            </div>
        </form>
  </div>
  </div>
</div>
<!-- modal | Sondeo nuevo -->

<!-- Delete -->
<div class="modal fade delete-sondeo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog-delete modal-xs">
  <div class="modal-delete">
    <h3>¿Está seguro que desea eliminar este sondeo?</h3>
    <div style="text-align:right;">
      <button data-dismiss="modal" aria-label="Close" class="cancelar">Cancelar</button>
      <button data-dismiss="modal" aria-label="Close" class="eliminar" ng-click="borrarS(control)">Eliminar</button>
    </div>
  </div>
  </div>
</div>
<!-- Delete -->
