<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active purple">
        <i class="ion-edit"></i>
    </div>
    <a href="#/history"><div class="sidebar-item">
        H
        </div></a>
    <div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
        </div>
    </div>
     <div class="row">
        <div ng-hide="category.id == 1 || category.id == 2 || category.id == 3 || category.id == 4" class="col-md-4">
            <h1 class="new-article-h1">Editar articulo</h1>
            <div ng-class="{'upload-image img-fill': imagenNueva ,'upload-image no-photo': !imagenNueva}" style="background-image: url({{imagenNueva}});">
                <input fileread="imagenNueva" type="file">
            </div>
            <select class="autor-photo" ng-model="fotografo" ng-options="fotografo.nombre for fotografo in fotografos track by fotografo.id">
                <option value="" disabled>autor/foto</option>
            </select>
            <h4 class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4>
        </div>
        <div class="col-md-8">
            <div class="new-article-inputs">
                <input class="title" type="text" ng-model="title" placeholder="Título">
                <select ng-model="category" class="category" ng-options="subseccion.nombre for subseccion in subsecciones track by subseccion.id">
                    <option value="" disabled>Subsección</option>
                </select>
                <div ng-if="category.id == 2">
                <select style="margin-bottom:-10px;" ng-model="$parent.columna" ng-options="subseccion.nombre for subseccion in subsecciones track by subseccion.id">
                    <option value="" disabled>Sección de columna</option>
                </select>
                </div>
                </br>
                <select ng-model="author" ng-options="autor.nombre for autor in autores track by autor.id">
                    <option value="" disabled>Autor</option>
                </select></br>
                <div ng-if="category.id != 2">
                <textarea placeholder="Entradilla" ng-model="$parent.entradilla" class="entradilla"></textarea>
                </div>
                <div class="new-article-editor">
                    <div text-angular ng-model="htmlContent" name="demo-editor"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="destacado" ng-hide="category.id == 1 || category.id == 2 || category.id == 3 || category.id == 4"><input type="checkbox" ng-model="destacado" ng-true-value="1" ng-false-value="0"><span>Destacado</span></div>
                </div>
                <div class="col-md-8">
                    <div class="publicar">
                        <button ng-click="newArticle(category.id,columna.id,entradilla,author.id,htmlContent,destacado,title,fotografo.id,'http://blogs.periodistadigital.com/imgs/20090729/francoise-demulder.jpg')">Publicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
