<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active purple">
        <i class="ion-edit"></i>
    </div>
    <a href="#/history"><div class="sidebar-item">
        H
        </div></a>
    <div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
        </div>
    </div>
     <div class="row">
     <style>
         .no-client-old{
            background-image: url({{articulo.imagen.foto}});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
         }
         .si-client-old{
            background-image: url(../{{articulo.imagen.foto}});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
         }
     </style>
        <div ng-class="{'col-md-2': articulo.idSubseccion == 1 || articulo.idSubseccion == 2 || articulo.idSubseccion == 3 || articulo.idSubseccion == 4 || articulo.idSubseccion == 49, 'col-md-4':articulo.idSubseccion != 1 || articulo.idSubseccion != 2 || articulo.idSubseccion != 3 || articulo.idSubseccion != 4 || articulo.idSubseccion != 49}">
            <h1 class="new-article-h1">Editar articulo</h1>
            <div ng-hide="articulo.idSubseccion == 1 || articulo.idSubseccion == 2 || articulo.idSubseccion == 3 || articulo.idSubseccion == 4 || articulo.idSubseccion == 49">
              {{f.name}}
            <div ng-class="{'upload-image no-client-old': f.name ,'upload-image si-client-old': !f.name}">
                <input fileread="articulo.imagen.foto" type="file" ngf-select="editFilesCliente($file, $invalidFiles,cliente.id)"
                        accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                      {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                        <span ng-show="f.progress >= 0">
                            <div style="width:{{f.progress}}%;"
                                 ng-bind="f.progress + '%'"></div>
                        </span>
            </div>
            <select class="autor-photo" ng-model="articulo.imagen.idFotografo" ng-options="fotografo.id as fotografo.nombre for fotografo in fotografos">
                <option value="" disabled>autor/foto</option>
            </select>
            <h4 class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4>
          </div>
        </div>
        <div class="col-md-8">
            <div class="new-article-inputs">
                <input class="title" type="text" ng-model="articulo.titulo" placeholder="Título">
                <select ng-model="articulo.idSubseccion" class="category" ng-options="subseccion.id as subseccion.nombre for subseccion in subsecciones">
                    <option value="" disabled>Subsección</option>
                </select>
                <div ng-if="articulo.idSubseccion == 2">
                <select style="margin-bottom:-10px;" ng-model="articulo.columna" ng-options="subseccion.id as subseccion.nombre for subseccion in subsecciones">
                    <option value="" disabled>Sección de columna</option>
                </select>
                </div>
                </br>
                <select ng-model="articulo.idPersonal" ng-options="autor.id as autor.nombre for autor in autores">
                    <option value="" disabled>Autor</option>
                </select></br>
                <div ng-if="articulo.idSubseccion != 2">
                <textarea placeholder="Entradilla" ng-model="articulo.preview" class="entradilla"></textarea>
                </div>
                <div class="new-article-editor">
                    <div text-angular ng-model="articulo.contenido" name="demo-editor" ta-paste="htmlToPlaintext($html)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 checks">
                    <div class="destacado" ng-hide="articulo.idSubseccion == 1 || articulo.idSubseccion == 2 || articulo.idSubseccion == 3 || articulo.idSubseccion == 4 || articulo.idSubseccion == 49"><input type="checkbox" ng-model="tcheck"><span>Agenda CP</span></div>
                    <div class="destacado"><input type="checkbox" ng-model="act"><span>Activo</span></div>
                </div>
                <div class="col-md-8">
                    <div class="publicar">
                        <button data-toggle="modal" data-target=".delete" class="borrar">Borrar</button>
                        <button data-toggle="modal" data-target=".edit">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
<!-- Modulos | Editar -->
<div class="modal fade edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog-delete modal-xs">
  <div class="modal-delete">
    <h3>¿Está seguro que desea editar este artículo?</h3>
    <div style="text-align:right;">
      <button data-dismiss="modal" aria-label="Close" class="cancelar">Cancelar</button>
      <span ng-if="filenamesave">
        <button data-dismiss="modal" aria-label="Close" class="editar" ng-click="editArticle(articulo.id,articulo.idSubseccion,articulo.columna,articulo.preview,articulo.idPersonal,articulo.contenido,tcheck,articulo.titulo,articulo.imagen.idFotografo,filenamesave,act)">Editar</button>
      </span>
      <span ng-if="!filenamesave">
        <button data-dismiss="modal" aria-label="Close" class="editar" ng-click="editArticle(articulo.id,articulo.idSubseccion,articulo.columna,articulo.preview,articulo.idPersonal,articulo.contenido,tcheck,articulo.titulo,articulo.imagen.idFotografo,articulo.imagen.foto,act)">Editar</button>
      </span>
    </div>
  </div>
  </div>
</div>
<!-- Modulos | Editar -->
<!-- Modulos | borrar -->
<div class="modal fade delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog-delete modal-xs">
  <div class="modal-delete">
    <h3>¿Está seguro que desea borrar este artículo?</h3>
    <div style="text-align:right;">
      <button data-dismiss="modal" aria-label="Close" class="cancelar">Cancelar</button>
      <button data-dismiss="modal" aria-label="Close" class="eliminar" ng-click="deleteArticle(articulo.id,articulo.idSubseccion)">Borrar</button>
    </div>
  </div>
  </div>
</div>
<!-- Modulos | borrar -->
