    <!-- Menu Responsive
    <div data-ng-include data-src="'templates/menu.html'"></div>
    Menu Section -->

<!-- Top Menu -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">cPad.</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div style="background-image: url({{userphoto}});" class="user-photo"></div>{{username}} <span style="margin-left:10px;" class="ion-ios-arrow-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Reportar Error</a></li>
            <li><a href="#">Configuración</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
      </ul>
    <center>
        <input type="text" class="search-bar"><button class="search-btn"><i class="ion-android-search"></i>
        </button>
    </center>
    </div>
  </div>
</nav>
<!-- Top Menu -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <a href="#/new-article"><div class="sidebar-item">
        <i class="ion-edit"></i>
    </div></a>
    <div class="sidebar-item-active purple">
        H
    </div>
    <div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <h1 class="new-article-h1">Historial de articulos</h1>
            <div class="history-table" ng-repeat="(key, value) in contenido | groupBy: 'fecha'">
                <div class="resumen">
                    <div class="row">
                        <div class="col-md-2">
                            <h4 class="fecha">{{key | date:'dd/MM/yyyy'}}</h4>
                        </div>
                        <div class="col-md-10">
                            <h4 class="visitantes">{{totalVisitas(value)}} visitas en total</h4>
                        </div>
                    </div>
                </div>
                <table class="table table-hover responsive">
                    <tbody>
                        <tr>
                            <th>Título</th>
                            <th>Subsección</th>
                            <th>Autor</th>
                            <th>Hora</th>
                            <th>Visitas</th>
                            <th>Creador</th>
                        </tr>
                        <tr ng-repeat="row in value | orderBy: '-total'">
                            <td style="width: 450px; display: inline-block;">{{row.titulo}}</th>
                            <td style="">{{row.subseccion}}</td>
                            <td style="">{{row.autor}}</td>
                            <td style="">{{row.hora}}</td>
                            <td style="">{{row.total}} visitas</td>
                            <td style="">{{row.creador}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          <!-- <uib-pagination total-items="contenido.length" ng-model="currentPage" items-per-page="pageSize" previous-text="Anterior" next-text="Siguiente" max-size="maxSize" boundary-link-numbers="true" class="tab-subseccion"></uib-pagination> -->
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
