<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active purple">
        <i class="ion-edit"></i>
    </div>
    <a href="#/history"><div class="sidebar-item">
        H
        </div></a>
    <div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
        </div>
    </div>
     <div class="row">
        <div ng-class="{'col-md-2': category.id == 1 || category.id == 2 || category.id == 3 || category.id == 4, 'col-md-4':category.id != 1 || category.id != 2 || category.id != 3 || category.id != 4}">
            <h1 class="new-article-h1">Nuevo articulo</h1>
            <button data-toggle="modal" data-target=".new-client" class="crear-cliente">Agregar/editar autor</button>
            <div ng-hide="category.id == 1 || category.id == 2 || category.id == 3 || category.id == 4">
            <div ng-class="{'upload-image img-fill': imagenNueva ,'upload-image no-photo': !imagenNueva}" style="background-image: url({{imagenNueva}});">
              <input fileread="imagenNueva" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                      accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                      <span ng-show="f.progress >= 0">
                          <div style="width:{{f.progress}}%;"
                               ng-bind="f.progress + '%'"></div>
                      </span>
            </div>
            <select class="autor-photo" ng-model="fotografo" ng-options="fotografo.nombre for fotografo in fotografos track by fotografo.id">
                <option value="" disabled>autor/foto</option>
            </select>
            <h4 class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4>
            </div>
        </div>
        <div class="col-md-8">
            <div class="new-article-inputs">
                <input class="title" type="text" ng-model="title" placeholder="Título">
                <select ng-model="category" class="category" ng-options="subseccion.nombre for subseccion in subsecciones track by subseccion.id">
                    <option value="" disabled>Subsección</option>
                </select>
                <div ng-if="category.id == 2">
                <select style="margin-bottom:-10px;" ng-model="$parent.columna" ng-options="subseccion.nombre for subseccion in subsecciones track by subseccion.id">
                    <option value="" disabled>Sección de columna</option>
                </select>
                </div>
                </br>
                <select ng-model="author" ng-options="autor.nombre for autor in autores track by autor.id">
                    <option value="" disabled>Autor</option>
                </select></br>
                <div ng-if="category.id != 2">
                <textarea placeholder="Entradilla" ng-model="$parent.entradilla" class="entradilla"></textarea>
                </div>
                <div class="new-article-editor">
                    <div text-angular ng-model="htmlContent" name="demo-editor"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="destacado" ng-hide="category.id == 1 || category.id == 2 || category.id == 3 || category.id == 4"><input type="checkbox" ng-model="destacado" ng-true-value="1" ng-false-value="0"><span>Agenda CP</span></div>
                </div>
                <div class="col-md-8">
                    <div class="publicar">
                        <button ng-click="newArticle(category.id,columna.id,entradilla,author.id,htmlContent,destacado,title,fotografo.id,filenamesave)">Publicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade new-client sondeo-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-xs">
    <div class="modal-content-sondeo" style="padding-bottom:65px;">
        <form class="text-center" name="insertForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 ng-if="!autor" class="modal-title" id="gridSystemModalLabel">Agregar autor</h4>
                <h4 ng-if="autor" class="modal-title" id="gridSystemModalLabel">Editar autor</h4>
              </div>
            <div>
                <center>
                  <div ng-if="!autor">
                  <style>
                  .old-old-photo-new{
                    background-image: url({{autorFotoNew}}) !important;
                  }
                  .old-old-photo{
                    background-image: url({{autorFoto}}) !important;
                  }
                  .set-photo{
                    background-image: url(img/photogallery/user-default.svg);
                  }
                  </style>
                    <div ng-class="{'set-photo old-old-photo-new': autorFotoNew ,'set-photo': !autorFotoNew}" style="position:relative !important; margin-top:15px;">
                      <input fileread="autorFotoNew" type="file" class="set-file">
                    </div>
                  </div>
                  <div ng-if="autor">
                  <style>
                  .old-set-photo{
                    background-image: url({{autor.foto}}) !important;
                  }
                  .old-old-photo{
                    background-image: url({{autorFoto}}) !important;
                  }
                  </style>
                    <div ng-class="{'set-photo old-old-photo': autorFoto ,'set-photo old-set-photo': !autorFoto}" style="position:relative !important; margin-top:15px;">
                      <input fileread="autorFoto" type="file" class="set-file">
                    </div>
                  </div>
                    <div class="modal-container">
                      <!-- <select class="input-modal" ng-model="autor" ng-options="autor.nombre for autor in autores track by autor.id">
                        <option value="">Nuevo autor</option>
                      </select> -->
                      <!-- <div ng-if="!autor.nombre"> -->
                        <input placeholder="Nombre" class="input-modal" type="text" ng-model="nombre"><br>
                        <input placeholder="Apellido" class="input-modal" type="text" ng-model="apellido"><br>
                        <textarea placeholder="Descripción" class="pregunta-sondeo" ng-model="bio"></textarea>

                        <select ng-model="personalTipo" class="input-modal">
                          <option value="">Tipo de autor</option>
                          <option value="externo">externo</option>
                          <option value="columnista">columnista</option>
                        </select>
                        <div style="text-align:right; margin-top:10px;">
                          <button ng-click="nPersonal(nombre,autorFotoNew,apellido,bio,personalTipo)" style="float:right" class="pub-boton" data-dismiss="modal">Publicar</button>
                        </div>
                      <!-- </div> -->


                      <!-- <div ng-if="autor.nombre">
                        <input placeholder="Nombre" class="input-modal" type="text" ng-model="autor.nombre"><br>
                        <input placeholder="Apellido" class="input-modal" type="text"><br>
                        <textarea placeholder="Descripción" class="pregunta-sondeo" ng-model="autor.descripcion"></textarea>
                        <div ng-if="autor.nombre">
                        <select class="input-modal">
                          <option value="">{{autor.cargo}}</option>
                          <option ng-if="autor.cargo == 'columnista'" value="">externo</option>
                          <option ng-if="autor.cargo == 'externo'" value="">columnista</option>
                        </select>
                        </div>

                        <div style="text-align:right; margin-top:10px;">
                          <button ng-click="" style="float:right" class="pub-boton" data-dismiss="modal">Publicar</button>
                        </div>
                      </div> -->
                    </div>
                </center>
            </div>
        </form>
  </div>
  </div>
</div>
<!-- Modal -->
