<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active purple">
        <i class="ion-edit"></i>
    </div>
    <a href="#/history"><div class="sidebar-item">
        H
        </div></a>
    <div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <h1 class="new-article-h1">Nuevo articulo</h1>
            <div ng-class="{'upload-image img-fill': imagenNueva ,'upload-image no-photo': !imagenNueva}" style="background-image: url({{imagenNueva}});">
                <input fileread="imagenNueva" type="file">
            </div>
            <select class="autor-photo">
                <option value="">autor/foto</option>
                <option value="jjd">Juan José Dalton</option>
                <option value="jo">Jessica Orellana</option>
                <option value="vc">Vladimir Chicas</option>
                <option value="archivo">Archivo ContraPunto</option>
            </select>
            <h4 class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4>
        </div>
        <div class="col-md-8">
            <div class="new-article-inputs">
                <input class="title" type="text" name="article-title" placeholder="Título">
                <select ng-model="category" class="category">
                    <option value="">Sección</option>
                    <option value="Editorial">Editorial</option>
                    <option value="Columnistas">Columnistas</option>
                    <option value="Tribuna Libre">Tribuna Libre</option>
                    <option value="Libertad de expresión">Libertad de expresión</option>
                </select>
                <div ng-if="category == 'Columnistas'">
                <select style="margin-bottom:-10px;">
                    <option value="">Sección de columna</option>
                    <option value="Política">Política</option>
                    <option value="Mundo">Mundo</option>
                    <option value="Sociedad">Sociedad</option>
                    <option value="Cultura">Cultura</option>
                </select>
                </div>
                </br>
                <select>
                    <option>Autor</option>
                    <option>Juan José Dalton</option>
                    <option>Laura Bernal</option>
                    <option>Gloria Moran</option>
                </select></br>
                <div ng-if="category != 'Columnistas'">
                <textarea placeholder="Entradilla" class="entradilla"></textarea>
                </div>
                <div class="new-article-editor">
                    <div text-angular ng-model="htmlContent" name="demo-editor"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="destacado"><input type="checkbox"><span>Destacado</span></div>
                </div>
                <div class="col-md-8">
                    <div class="publicar">
                        <button>Publicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
