<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-container">
        <center><div class="pencil"></div></center>
        <h4>ContraPunto.</h4>
        <span>{{error}}</span><br><br>
        <form ng-submit="logIn()">
          <input placeholder="Username" type="text" ng-model="inUsername"><br>
          <input placeholder="Password" type="password" ng-model="inPassword"><br>
          <button>Ingresar</button>
          <a href="http://contrapunto.com.sv">http://contrapunto.com.sv</a>
        </form>
      </div>
    </div>
  </div>
</div>
