<!-- Menu -->
    <div class="row">
        <div class="col-md-10">
            <div class="menu">
                <a href="#/">Portada</a>
                <a href="#/opinion">Opinión</a>
                <a href="#/politica">Política</a>
                <a href="#/mundo">Mundo</a>
                <a href="#/">Sociedad</a>
                <a href="#/">Economía</a>
                <a href="#/">Cultura</a>
                <a href="#/">Deportes</a>
            </div>
        </div>
        <div class="col-md-2">    
            <div class="cptv-menu">
                <img src="img/play.svg">
                <a href="#/">ContrapuntoTV</a>
            </div>
        </div>
    </div> 
<!-- Menu -->    