<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active blue">
        <i class="ion-happy"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
            <h1 class="new-photogallery-h1">Caricaturas</h1>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <button class="upload-album" data-toggle="modal" data-target=".new-photogallery">
            </button>
        </div>
        <div ng-repeat="caricatura in caricaturas | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize" class="col-md-4">
            <div class="old-album" style="background-image:url({{caricatura.foto}});">
                <div class="transparency">
                    <div class="top-texto"><a class="delete-button" ng-click="valor(caricatura.idCaricatura)" data-toggle="modal" data-target=".delete-photo"><i class="ion-trash-a"></i></a></div>
                    <div class="texto">
                        <h6>{{caricatura.fecha | date:'dd/MM/yyyy'}}</h6>
                        <h1>{{caricatura.caricaturista}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <uib-pagination total-items="caricaturas.length" ng-model="currentPage" items-per-page="pageSize" previous-text="Anterior" next-text="Siguiente" max-size="maxSize" boundary-link-numbers="true" class="tab-subseccion"></uib-pagination>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade new-photogallery" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <form class="text-center" name="insertForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Nueva caricatura</h4>
                      </div>
                    <center>
                      <div ng-class="{'upload-input img-client': fotito ,'upload-input no-client': !fotito}" style="background-image: url({{fotito}});">
                        <input fileread="fotito" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                        <select class="author" ng-model="idAutor" ng-options="caricaturista.Caricaturista for caricaturista in caricaturista">
                          <option value="">autor/foto</option>
                        </select>
                        {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                        <div style="float:left; text-align:left; margin-top:-5px !important;"><h4 style="font-size:12px !important;" class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4></div>
                        <button ng-click="postCaricatura(idAutor.idCaricaturista,$file,$invalidFiles)" style="float:right" class="pub-boton" data-dismiss="modal">Publicar</button>
                    </div></center>
                </form>
          </div>
        </div>
</div>
<!-- modal -->
<!-- Modulos | Delete -->
<div class="modal fade delete-photo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog-delete modal-xs">
  <div class="modal-delete">
    <h3>¿Está seguro que desea eliminar esta caricatura?</h3>
    <div style="text-align:right;">
      <button data-dismiss="modal" aria-label="Close" class="cancelar">Cancelar</button>
      <button data-dismiss="modal" aria-label="Close" class="eliminar" ng-click="borrarC(control)">Eliminar</button>
    </div>
  </div>
  </div>
</div>
<!-- Modulos | Delete -->
