<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <a href="#/ads/"><div class="sidebar-item">
        <i class="ion-connection-bars"></i>
    </div></a>
    <div class="sidebar-item-active pink">
        <i class="ion-stats-bars"></i>
    </div>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
            <h1 class="new-ads-h1">Publicidad</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="old-album" style="background-image:url(../{{clientePopular.foto}});">
                <div class="transparency">
                    <h4>Cliente más popular</h4>
                    <div class="texto">
                        <h6>{{clientePopular.fecha | date:'dd/MM/yyyy'}}</h6>
                        <h1>{{clientePopular.nombre}}</h1>
                        <h3>{{clientePopular.total}} visitas</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="positions-sq">
                <div class="transparency" style="width:{{(total.ocupadas*100)/total.total | number:0}}%;">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="texto6">
                            <h2>POSICIONES OCUPADAS</h2>
                            <h1>{{total.ocupadas}}</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="texto6">
                            <h2 class="txt-black">POSICIONES DISPONIBLES</h2>
                            <h1 class="txt-black">{{total.total-total.ocupadas}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="old-album" style="background-image:url(img/ads/position-more.svg); background-size:contain; background-position:bottom;">
                <h4 style="padding:10px 10px;">Posición más utilizada</h4>
                <div class="texto">
                    <h1>Posición {{posicionP.posicion}}</h1>
                    <h3>{{posicionP.seccion}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="old-album" style="background-image:url(../{{publicidadPopular.foto}});">
                <div class="transparency">
                    <h4>Publicidad más vista</h4>
                    <div class="texto">
                        <h6>{{publicidadPopular.fecha | date:'dd/MM/yyyy'}}</h6>
                        <h1>{{publicidadPopular.cliente}}</h1>
                        <h3>{{publicidadPopular.total}} visitas</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="positions-sq" style="background-color:#DAE6EC;">
                <div class="texto-2">
                    <h2>Posiciones utilizadas</h2>
                      <div class="row">
                        <div ng-repeat="seccion in seccionPopular">
                        <div class="col-md-3">
                          <div class="conteo-posiciones">
                            <h4>{{seccion.nombre}} </br> <span>{{seccion.ocupadas}}</span> / {{seccion.total}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="old-album" style="background-image:url(img/ads/position-minus.svg); background-size:contain; background-position:bottom;">
                <h4 style="padding:10px 10px;">Posición menos utilizada</h4>
                <div class="texto">
                    <h1 style="color:#000; text-shadow:none; font-weight:normal;">Posición {{posicionM.posicion}}</h1>
                    <h3 style="color:#000; text-shadow:none; font-weight:normal;">{{posicionM.seccion}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
