<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active pink">
        <i class="ion-connection-bars"></i>
    </div>
    <a href="#/ads/metrics/analytics"><div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div></a>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
            <h1 class="new-ads-h1">Publicidad</h1>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <a href="#/ads/portada"><div class="ads-square portada-back">
                <div class="texto">
                    <h1>Portada</h1>
                </div>
            </div></a>
        </div>
         <div class="col-md-4">
            <a href="#/ads/opinion"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Opinión</h1>
                </div>
            </div></a>
        </div>
        <div class="col-md-4">
            <a href="#/ads/politica"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Política</h1>
                </div>
            </div></a>
        </div>
        <div class="col-md-4">
            <a href="#/ads/internacionales"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Internacionales</h1>
                </div>
            </div></a>
        </div>
        <div class="col-md-4">
            <a href="#/ads/sociedad"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Sociedad</h1>
                </div>
            </div></a>
        </div>
        <div class="col-md-4">
            <a href="#/ads/economia"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Economía</h1>
                </div>
            </div></a>
        </div>
        <div class="col-md-4">
            <a href="#/ads/cultura"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Cultura</h1>
                </div>
            </div></a>
        </div>
        <div class="col-md-4">
            <a href="#/ads/deportes"><div class="ads-square seccion-back">
                <div class="texto">
                    <h1>Deportes</h1>
                </div>
            </div></a>
        </div>
        </div>
    </br></br>
    </div>
</div>
