<!-- Menu Responsive -->
<div data-ng-include data-src="'templates/menu.html'"></div>
<!-- Menu Section -->
<div class="sidebar">
    <div class="sidebar-item-out">
        <i class="ion-power"></i>
    </div>
    <a href="#/"><div class="sidebar-item">
        <i class="ion-android-home"></i>
    </div></a>
    <div class="sidebar-item-active pink">
        <i class="ion-connection-bars"></i>
    </div>
    <a href="#/ads/metrics/analytics"><div class="sidebar-item">
        <i class="ion-stats-bars"></i>
    </div></a>
</div>
<div class="new-container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="main-title"><span>database:</span> cPad.</h1>
            <h1 class="new-ads-h1">Publicidad</h1> <button data-toggle="modal" data-target=".new-client" class="crear-cliente">Agregar cliente</button>
        </div>
        <div class="col-md-2">
            <button class="settings" ng-class="{home:adsPosition}" ng-disabled="!adsPosition" data-toggle="modal" data-target=".new-adv"><i class="ion-plus-round"></i></button>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <div class="choose-position">
                <h6>Posiciones</h6>
                <select ng-model="adsPosition" multiple>
                    <option ng-repeat="posicion in posiciones" ng-value="{{posicion.idPosicion}}">Posición {{posicion.posicion}}</option>
                </select>
            </div>
            <div ng-repeat="posicion in posiciones" ng-if="adsPosition == posicion.idPosicion" class="details-position">
                <h6>Resumen {{posicion.posicion}}</h6>
                <h1 class="item">Espacios disponibles: {{5-posicion.ocupados}}</h1>
                <h6>Clientes</h6>
                <h1 ng-repeat="cliente in posicion.clientes" class="item-2">{{cliente}}</h1>
                <h6>Cliente más visto</h6>
                <h1 class="item">{{posicion.maxCliente}}</h1>
            </div>
        </div>
        <div ng-if="!adsPosition" class="col-md-8">
            <div class="no-position-selected">
                <center><div class="back-no-position"></div></center>
                <h4>No has elegido ninguna posición</h4>
            </div>
        </div>
        <div ng-if="adsPosition == 'position2'" class="col-md-8">
            <div class="no-position-selected">
                <center><div class="back-no-position"></div></center>
                <h4>No hay clientes para esta posición</h4>
            </div>
        </div>
        <div ng-repeat="posicion in posiciones" ng-if="adsPosition == posicion.idPosicion">
            <div ng-repeat="banner in banners" ng-if="posicion.idPosicion == banner.idPosicion" class="col-md-4">
                <div class="old-album" style="background-image:url(../{{banner.foto}});">
                    <div class="transparency">
                      <div class="bottom-texto"><a class="active-button" ng-click ="activeBanner(banner.id,banner.activo,pos)"><i ng-class="{'ion-toggle-filled':banner.activo==1,'ion-toggle':banner.activo == 0}"></i></a></div>
                        <div class="top-texto"><a class="delete-button" data-toggle="modal" ng-click ="valor(banner.id)" data-target=".delete-banner"><i class="ion-trash-a"></i></a></div>
                        <div class="texto">
                            <h6>{{banner.fecha | date:'dd/MM/yyyy'}}</h6>
                            <h1>Cliente: {{banner.cliente}}</h1>
                            <h3>{{banner.total}} clicks</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="adsPosition" class="footer">
        <div class="row">
            <div class="col-md-12">
                © Grupo Dalton, ContraPunto Diario El Salvador | 2008 – {{date | date:'yyyy'}}
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade new-client" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <form class="text-center" name="insertForm" ng-submit="insert(user.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 ng-if="!cliente" class="modal-title" id="gridSystemModalLabel">Agregar cliente</h4>
                        <h4 ng-if="cliente" class="modal-title" id="gridSystemModalLabel">Editar cliente</h4>
                      </div>
                      <select class="select-client" ng-model="cliente" ng-options="cliente.nombre for cliente in clientes track by cliente.id">
                           <option value="">Nuevo cliente</option>
                       </select>
                    <div ng-if="!cliente">
                        <center>
                           <div ng-class="{'upload-input img-client': fotito ,'upload-input no-client': !fotito}" style="background-image: url({{fotito}});">
                               <input fileread="fotito" type="file" ngf-select="uploadFilesCliente($file, $invalidFiles)"
                                     accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                                     <span ng-show="f.progress >= 0">
                                         <div style="width:{{f.progress}}%;"
                                              ng-bind="f.progress + '%'"></div>
                                     </span>
                                <input placeholder="Empresa" ng-model="nuevoNombre" class="author" type="text">
                                <div style="float:left; text-align:left; margin-top:-5px !important;"><h4 style="font-size:12px !important;" class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4></div>
                                <button data-dismiss="modal" aria-label="Close" style="float:right" ng-click="addCliente(nuevoNombre,pos,clienteimg)" class="pub-boton">Publicar</button>
                            </div>
                        </center>
                    </div>
                    <style>
                        .no-client-old{
                            background-image: url(../{{cliente.foto}});
                            background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
                        }
                        .si-client-old{
                            background-image: url({{cliente.foto}});
                        }
                    </style>
                    <div ng-if="cliente">
                        <center>
                           {{f.name}}
                           <div ng-class="{'upload-input img-client si-client-old': f.name ,'upload-input no-client-old': !f.name}">
                                <input fileread="cliente.foto" type="file" ngf-select="editFilesCliente($file, $invalidFiles,cliente.id)"
                                        accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                                      {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                        <span ng-show="f.progress >= 0">
                                            <div style="width:{{f.progress}}%;"
                                                 ng-bind="f.progress + '%'"></div>
                                        </span>
                                <input placeholder="Empresa" ng-model="cliente.nombre" class="author" type="text">
                                <div style="float:left; text-align:left; margin-top:-5px !important;"><h4 style="font-size:12px !important;" class="aviso-img">Por favor recordar que el tamaño minimo para la imágen es de
<b>600px</b> x <b>400px</b>.</h4></div>
                                <button ng-click="valor(cliente.id)" data-toggle="modal" data-target=".delete-m" class="pub-boton pub-delete">Borrar</button>
                                <button style="float:right" ng-click="editCliente(cliente.id,cliente.nombre,pos,editclienteimg)" class="pub-boton">Editar</button>
                            </div>
                        </center>
                    </div>
                </form>
          </div>
        </div>
</div>
<!-- modal -->
<!-- modal -->
<div class="modal fade new-adv" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <form class="text-center" name="insertForm" ng-submit="insert(user.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Crear publicidad</h4>
                      </div>
                      <select class="select-client" ng-model="position" ng-options="posicion.posicion for posicion in posiciones track by posicion.idPosicion">
                           <option value="" disabled>Seleccionar posición</option>
                       </select>
                    <div>
                        <center>
                           <div ng-class="{'upload-input img-client': fotito ,'upload-input no-client': !fotito}" style="background-image: url({{fotito}});">
                             <input fileread="fotito" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                     accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="file">
                                     <span ng-show="f.progress >= 0">
                                         <div style="width:{{f.progress}}%;"
                                              ng-bind="f.progress + '%'"></div>
                                     </span>
                                <select style="margin-bottom:0px; margin-top:10px;" class="select-client" ng-model="client" ng-options="cliente.nombre for cliente in clientes track by cliente.id">
                                   <option value="" disabled>Seleccionar cliente</option>
                               </select>
                                <input placeholder="Url" ng-model="newUrl" class="author" type="text">
                                <div style="float:left; text-align:left; margin-top:-5px !important;"><h4 style="font-size:12px !important;" class="aviso-img">Por favor recordar el banner publicitario nada más puede estar en formato <b>png</b>, <b>jpg</b> ó <b>gif</b>.</h4></div>
                                <button data-dismiss="modal" aria-label="Close" class="pub-boton" ng-click="addBanner(position.idPosicion,client.id,newUrl,pos,filenamesave)">Publicar</button>
                            </div>
                        </center>
                    </div>
                </form>
          </div>
        </div>
</div>
<!-- modal -->
<!-- Modulos | Delete -->
<div class="modal fade delete-m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog-delete modal-xs">
  <div class="modal-delete sobre">
    <h3>¿Está seguro que desea eliminar este cliente?</h3>
    <div style="text-align:right;">
      <button data-dismiss="modal" aria-label="Close" class="cancelar">Cancelar</button>
      <button data-dismiss="modal" aria-label="Close" class="eliminar" ng-click="borrarCliente(control,pos)">Eliminar</button>
    </div>
  </div>
  </div>
</div>
<!-- Modulos | Delete -->
<!-- Modulos | Delete -->
<div class="modal fade delete-banner" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog-delete modal-xs">
  <div class="modal-delete">
    <h3>¿Está seguro que desea eliminar este banner?</h3>
    <div style="text-align:right;">
      <button data-dismiss="modal" aria-label="Close" class="cancelar">Cancelar</button>
      <button data-dismiss="modal" aria-label="Close" class="eliminar" ng-click="borrarBanner(control,pos)">Eliminar</button>
    </div>
  </div>
  </div>
</div>
<!-- Modulos | Delete -->
